.btnBox{
    width: 210px;
    height: 56px;
    background-color: #fff;
    border-radius: 30px;
    border: 2px #e4002b solid;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;

}
.btnBox:hover{
    background-color: #e4002b;
    color: #fff;
}