.card img{
    border-radius: 4px;
    width:250px;

}
.card{
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.07);
    border: 1px rgba(0,0,0,.10) solid;
    width: 250px;
}
.card p{
    padding: 1rem;
}
