.navbarWrapper{
width: 100%;
}
.navbarUpRight img{
    height: 35px;
    width: 65px;
    cursor: pointer;
    
}
.navbarUpLeft1{
    border: 2px solid #e3e3e3;
    width: 85px;
    height: 37px;
    text-align: center;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 0.5rem;

}
.navbarUpLeft1 img{
    width: 10px;
}
.navbarUpLeft2{
    border: 2px solid #e3e3e3;
    border-radius: 1rem;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 370px;
    gap: 16px;
}
.navbarUpLeftTitle{
    color: red;
}
.navbarUpLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.navbarUpRight{
    display: flex;
    justify-content: center;
align-items: center;
gap: 1rem;
}
.navbarUp{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    height: 75px;
    border-bottom: 1px solid #e7e7e7;
}
.navbarUpRight a{
    font-weight: bold;
    cursor: pointer;
}
.navbarDown{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 16px;
    padding: 1rem 13rem;
    box-shadow: 0 1px 10px rgba(0,0,0,.10);
    height: 100%;
}
