.footerUp{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    height: 65px;
    background-color: #e5e5e5;
    box-shadow: 0 3px 5px rgba(0,0,0,.15);
}